*{
    margin: 1vw;
    color: #181145;
    background-color: #D7FACF  ;
    font-size: 1vw;
    text-decoration: none;
}
/*primera parte*/
.pp1 .p1{
    font-size: 2vw;
}
.pp1 .p2{
    margin-top: 5vw;
}
.pp1 .p4{
    width: 10vw;
    height: 1vw;
    background-color: #fff;
    border: 2px solid;
    border-radius: 0.2vw;
}
.pp1 .p6{
    margin-top: 5vw;
    display: flex;
    margin-left: -0vw;
}
.pp1 .p7{
    text-align: center;
    width: 1vw;
    height: 1vw;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    margin-left: -0.2vw;
}
.pp1 .p8{
    margin-top: 5vw;
}

/*segunda parte*/

.pp2{
    position: absolute;
    width:80%;
    height: 90%;
    background-color: #fff;
    margin-left: 15vw;
    margin-top: -31vw;
    border-radius: 2vw;
    overflow: scroll;
}
.pp2 .ppp1{
    background-color: #fff;
    font-size: 2vw;
}
/*segunda parte, parte 1*/
.ppp2{
    background-color: #fff;
}
.ppp2 .p1{
    background-color: #fff;
    width: 11.7vw;
    height: 14.3vw;
    border: black solid;
    border-radius: 2.5vw;
}
.ppp2 .p2{
    position: absolute;
    margin-top: -4vw;
    margin-left: 1vw;
    background-color: #ffffff;
    width: 11.7vw;
    height: 4.5vw;
    border: #000000 solid;
}
.ppp2 .p3{
    background-color: #ffffff;
}
.ppp2 .p4{
    margin-top: -1.5vw;
    height: 1vw;
    background-color: #fff;
    display: flex;
}
.ppp2 .p5{
    margin-left: 0vw;
    background-color: #fff;
}
.ppp2 .p6{
    margin-top: 0.8vw;
    background-color: #83a182;
    width: 3.5vw;
    height: 1.5vw;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5vw;
}

/*segunda parte, parte 2*/

.ppp3{
    background-color: #fff;
    position: absolute;
    margin-top: -17.85vw;
    margin-left: 20vw;
}
.ppp3 .p1{
    background-color: #fff;
    width: 11.7vw;
    border: black solid;
    border-radius: 2.5vw;
}
.ppp3 .p2{
    position: absolute;
    margin-top: -4vw;
    margin-left: 1vw;
    background-color: #ffffff;
    width: 11.7vw;
    height: 4.5vw;
    border: #000000 solid;
}
.ppp3 .p3{
    background-color: #ffffff;
}
.ppp3 .p4{
    margin-top: -1.5vw;
    height: 1vw;
    background-color: #fff;
    display: flex;
}
.ppp3 .p5{
    margin-left: 0vw;
    background-color: #fff;
}
.ppp3 .p6{
    margin-top: 0.8vw;
    background-color: #83a182;
    width: 3.5vw;
    height: 1.5vw;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5vw;
}

/*segunda parte, parte 3*/

.ppp4{
    background-color: #fff;
    position: absolute;
    margin-top: -17.85vw;
    margin-left: 40vw;
}
.ppp4 .p1{
    background-color: #fff;
    width: 11.7vw;
    height: 14.3vw;
    border: black solid;
    border-radius: 2.5vw;
}
.ppp4 .p2{
    position: absolute;
    margin-top: -4vw;
    margin-left: 1vw;
    background-color: #ffffff;
    width: 11.7vw;
    height: 4.5vw;
    border: #000000 solid;
}
.ppp4 .p3{
    background-color: #ffffff;
}
.ppp4 .p4{
    margin-top: -1.5vw;
    height: 1vw;
    background-color: #fff;
    display: flex;
}
.ppp4 .p5{
    margin-left: 0vw;
    background-color: #fff;
}
.ppp4 .p6{
    margin-top: 0.8vw;
    background-color: #83a182;
    width: 3.5vw;
    height: 1.5vw;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5vw;
}

/*segunda parte , parte 4*/

.ppp5{
    background-color: #fff;
    position: absolute;
    margin-top: -17.85vw;
    margin-left: 60vw;
}
.ppp5 .p1{
    background-color: #fff;
    width: 11.7vw;
    height: 14.3vw;
    border: black solid;
    border-radius: 2.5vw;
}
.ppp5 .p2{
    position: absolute;
    margin-top: -4vw;
    margin-left: 1vw;
    background-color: #ffffff;
    width: 11.7vw;
    height: 4.5vw;
    border: #000000 solid;
}
.ppp5 .p3{
    background-color: #ffffff;
}
.ppp5 .p4{
    margin-top: -1.5vw;
    height: 1vw;
    background-color: #fff;
    display: flex;
}
.ppp5 .p5{
    margin-left: 0vw;
    background-color: #fff;
}
.ppp5 .p6{
    margin-top: 0.8vw;
    background-color: #83a182;
    width: 3.5vw;
    height: 1.5vw;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5vw;
}

/*segunda parte, parte 5*/

.ppp6{
    background-color: #fff;
    position: absolute;
}
.ppp6 .p1{
    background-color: #fff;
    width: 11.7vw;
    height: 14.3vw;
    border: black solid;
    border-radius: 2.5vw;
}
.ppp6 .p2{
    position: absolute;
    margin-top: -4vw;
    margin-left: 1vw;
    background-color: #ffffff;
    width: 11.7vw;
    height: 4.5vw;
    border: #000000 solid;
}
.ppp6 .p3{
    background-color: #ffffff;
}
.ppp6 .p4{
    margin-top: -1.5vw;
    height: 1vw;
    background-color: #fff;
    display: flex;
}
.ppp6 .p5{
    margin-left: 0vw;
    background-color: #fff;
}
.ppp6 .p6{
    margin-top: 0.8vw;
    background-color: #83a182;
    width: 3.5vw;
    height: 1.5vw;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5vw;
}
