*{
    margin: 1vw;
    color: #181145;
    background-color: #D7FACF  ;
    font-size: 1vw;
    text-decoration: none;
}
/*primera parte*/

.pp1 .p1{
    font-size: 2vw;
    height: 3vw;
}
.pp1 .p6{ 
    width: 10vw;
    height: 3vw;
    background-color: #fff;
    border: 2px solid;
    border-radius: 0.2vw;
    margin-top: 5vw;
    display: flex;
}
.pp1 .p7{
    text-align: center;
    width: 1vw;
    height: 1vw;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    margin-left: -0.2vw;
}
.pp1 .p8{
    margin-top: 5vw;
}

/*segunda parte*/

.pp2{
    position: absolute;
    width:80%;
    height: 90%;
    background-color: #fff;
    margin-left: 15vw;
    margin-top: -27.5vw;
    border-radius: 2vw;
    overflow: scroll;
}
.pp2 .ppp1{
    background-color: #fff;
    font-size: 2vw;
}

/* segunda parte, parte 1*/ 
.ppp2 {
    background-color: #fff;
    width: 90%;
    height: 20%;
    border: 0.3vw solid black;
    border-radius: 1vw;
    overflow: hidden;
}
.ppp2 .p1{
    background-color: #fff;
    width: 8vw;
    height: 6vw;
    border: black solid;
    border-radius: 2.5vw;
}
.ppp2 .p2{
    position: absolute;
    background-color: #fff;
    width: 6%;
    margin-top: -7vw;
    margin-left: 15vw;
}
.ppp2 .p3{
    position: absolute;
    background-color: #fff;
    width: 6%;
    margin-top: -7vw;
    margin-left: 25vw;
}
.ppp2 .p4{
    position: absolute;
    background-color: #fff;
    width: 6%;
    margin-top: -7vw;
    margin-left: 35vw;
}
.ppp2 .p5{
    position: absolute;
    background-color: #fff;
    width: 6%;
    margin-top: -7vw;
    margin-left: 45vw;
}
.ppp2 .p6{
    position: absolute;
    background-color: #fff;
    width: 6%;
    margin-top: -4vw;
    margin-left: 15vw;
}
.ppp2 .p7{
    position: absolute;
    background-color: #fff;
    width: 6%;
    margin-top: -4vw;
    margin-left: 25vw;
}
.ppp2 .p8{
    position: absolute;
    background-color: #fff;
    width: 6%;
    margin-top: -4vw;
    margin-left: 35vw;
}
.ppp2 .p9{
    position: absolute;
    background-color: #fff;
    width: 6%;
    margin-top: -4vw;
    margin-left: 45vw;
}
.ppp2 .p10{
    width: 4vw;
    height: 4vw;
    border-radius: 5vw;
    background-color: #000000;
    margin-top: -6vw;
    margin-left: 55vw;

}
/*jkl¿¿sadalkdj*/
.ppp3{
    width: 10vw;
    height: 1.5vw;
    border-radius: 1vw;
    text-align: center;
    color: #fff;
    background-color: green;
}

.ppp4{
    margin-top: -4vw;
    position: absolute;
    margin-left: 45vw;
    background-color: #ffffff;
    width: 21.7vw;
    height: 4.5vw;
    border: #000000 solid;
}
.ppp4 .p1{
    background-color: #ffffff;
}
.ppp4 .p2{
    margin-top: -1.5vw;
    height: 1vw;
    background-color: #fff;
    display: flex;
}
.ppp4 .p3{
    margin-left: 0vw;
    background-color: #fff;
}
.ppp4 .p4{
    margin-left: 2vw;
    margin-top: -0.2vw;
    background-color: green;
    width: 10.5vw;
    height: 1.5vw;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5vw;
}

